version: "3.9"

services:
  travel-bot:
    container_name: travel-bot-ittour
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped

    env_file:
      - .env

    volumes:
      - .:/app

    command: python -m app.bot --polling
